<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="/public/css/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <title>Tela Inicial</title>
    </head>
    <body>
        <div class="entrar">
            <div class="user-profile">
                <div id="image" class="img"><img src="../public/img/user.png" alt="IMG_USER"></div>
                <p>Informações do perfil</p>
                <div class="user">
                    <input id="user" name="user" required="required" type="text" placeholder="Usuário" readonly/>
                </div>

                <div class="email">
                    <input id="email" name="email" required="required" type="text" placeholder="E-mail" readonly/>
                </div>
                <% if(auth == 'databaseAuth'){ %>
                    <form id="formAltSenha" method="GET" action="/trocarSenha">
                        <input type="text" name="auth" value="databaseAuth" hidden>
                        <div class="psswd">
                            <button id="psswd">Alterar senha</button>
                        </div>
                    </form>
                <% } %>
            </div>
        </div>
        <div id="usuarios" class="usuarios">
            <ul>
                <% for(let i = 0; i < listaUsuarios.length; i++) {%>
                    <li>
                        Nome: <%= listaUsuarios[i].name %>
                    </li>
                <% } %>
            </ul>   
        </div>
        
        <form id="escolha">
            <input id="to" type="text" name="to" placeholder="Destinatario" value="Bruno Duarte" hidden>
            <button type="submit">Teste</button>
        </form>

        <form id="chat">
            <div class="messages"></div>
            <input type="text" name="message" placeholder="Digite sua mensagem..." autocomplete="off">
            <button type="submit">Enviar</button>
        </form>

        <script>
            document.getElementById("user").value = '<%= usuario %>';
            document.getElementById("email").value = '<%= email %>';
            document.getElementById("to").value = 'Bruno Duarte';
        </script>

        <script type="text/javascript">
            var socket = io();

            async function renderMessage(message) {
                await $('.messages').append('<div class="message"><strong>' + message.users.from + '</strong>:' + message.message + '</div><br>')
            }

            $('#escolha').submit(function(event) {
                event.preventDefault()
                let from = $('input[name=user]').val();
                let to = $('input[name=to]').val();
    
                if (from.length && to.length) {
                    let mensagemObj = {
                        users: {
                            from: from,
                            to: to,
                        }
                    };
                    socket.emit('escolhaPessoa', mensagemObj);
                }
            });

            socket.on('previousMessage', async function(msgsDatabase) {
                for (let i = 0; i < msgsDatabase.length; i++) {
                    const from = msgsDatabase[i]['users']['from'];
                    const to = msgsDatabase[i]['users']['to'];
                    const message = msgsDatabase[i]['message'];
                    let objdatabase = {
                        message: message,
                        users: {
                            from: from,
                            to: to,
                        }
                    };
                    await renderMessage(objdatabase);
                }
            }); 
            
            $('#chat').submit(function(event) {
                event.preventDefault()
                let from = $('input[name=user]').val();
                let to = $('input[name=to]').val();
                let message = $('input[name=message]').val();
    
                if (from.length && message.length) {
                    let mensagemObj = {
                        message: message,
                        users: {
                            from: from,
                            to: to,
                        }
                    };
                    renderMessage(mensagemObj);
                    socket.emit('sendMessage', mensagemObj);
                    $('input[name=message]').val("");
                }
            });
        </script>

        <!-- Ícones -->
        <script src="https://kit.fontawesome.com/a9ac96b7ba.js" 
        crossorigin="anonymous"></script>
    </body>
</html>