<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <title>Criar Grupo</title>
    </head>
    <body>
        <div class="container">
            <div class="content-1">      
                <div id="login">
                    <form method="POST" action="/criarGrupos"> 
                        <h3>Criar Grupo</h3> 
                        <p> 
                            <label for="nomeGrupo">Digite o nome do Grupo</label>
                            <input id="nomeGrupo" name="nomeGrupo" required="required" type="text" placeholder="Digite o nome do Grupo"/> 
                        </p>
                        <p> 
                            <label for="nomeGrupo">Selecione os participantes</label>
                            <% for(let i = 0; i < listaUsuarios.length; i++) {%>
                                <form id='<%= i %>' class="form">
                                    <input type="submit" name="nameUsersGroup" value='<%= listaUsuarios[i].name[0].toUpperCase() + listaUsuarios[i].name.substr(1) %>'></>
                                    <i class="fa fa-ellipsis-vertical"></i>
                                </form>
                            <% } %>
                        </p>
                        <div class="entrar"> 
                            <input type="submit" value="Criar"/> 
                        </div>
                    </form>
                    <% if(status == 401){ %>
                        <h3>Ocorreu um erro na atualização da senha. Tente novamente!</h3>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>