<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="/public/css/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <title>Tela Principal</title>
    </head>
    <body>
        <div class="entrar">
            <div class="user-profile">
                <div id="image" class="img"><img src="../public/img/user.png" alt="IMG_USER"></div>
                <p>Informações do perfil</p>
                <div class="user">
                    <input id="user" name="user" required="required" type="text" placeholder="Usuário" readonly/>
                </div>

                <div class="email">
                    <input id="email" name="email" required="required" type="text" placeholder="E-mail" readonly/>
                </div>
                <% if(auth != 'googleAuth'){ %>
                    <form id="formAltSenha" method="GET" action="/trocarSenha">
                        <div class="psswd">
                            <button id="psswd">Alterar senha</button>
                        </div>
                    </form>
                <% } %>
            </div>
        </div>

        <form id="chat">
            <input id="username" type="text" name="username" placeholder="Usuário no chat" readonly>
            <div class="messages"></div>
            <input type="text" name="mensagem" placeholder="Digite sua mensagem..." autocomplete="off">
            <button type="submit">Enviar</button>
        </form>

        <script type="text/javascript">
            var socket = io('http://localhost:3000');
    
            function renderMessage(message) {
                $('.messages').append('<div class="message"><strong>' + message.author + '</strong>:' + message.message + '</div><br>')
            }
    
            socket.on('previousMessage', function(msgsDatabase) {
                for (let i = 0; i < msgsDatabase.length; i++) {
                    const author = msgsDatabase[i]['msg']['author'];
                    const message = msgsDatabase[i]['msg']['message'];
                    console.log(author, message)
                    var objdatabase = {
                            author: author,
                            message: message
                    };
                    renderMessage(objdatabase);
                }
            }); 
    
            socket.on('receivedMessage', function(messageReceive) {
                renderMessage(messageReceive);
            });
    
            $('#chat').submit(function(event) {
                event.preventDefault();
    
                var author = $('input[name=username]').val();
                var message = $('input[name=mensagem]').val();

    
                if (author.length && message.length) {
                    var mensagemObj = {
                        author: author,
                        message: message
                    };
    
                    renderMessage(mensagemObj);
                    socket.emit('sendMessage', mensagemObj);
                    $('input[name=mensagem]').val("");
                }
            });
        </script>

        <script>
            document.getElementById("user").value = '<%= usuario %>';
            document.getElementById("username").value = '<%= usuario %>';
            document.getElementById("username").style.display = 'none';
            document.getElementById("email").value = '<%= email %>';
        </script>
        <!-- Ícones -->
        <script src="https://kit.fontawesome.com/a9ac96b7ba.js" 
        crossorigin="anonymous"></script>
    </body>
</html>